
@{
    ViewBag.Title = "Public";
}

    <div style="height:500px ; width:100% ; display:block">
        <div style="display:flex">
            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> iPhone </div>
                <img style="height:155px ; width:100%" src="~/Models/images/occuc.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:60px">Apple</div>
                </div>
            </div>



            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Samsung </div>
                <img style="height:155px ; width:100%" src="~/Models/images/ad.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:39px">Samsung</div>
                </div>
            </div>

            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Samsung </div>
                <img style="height:155px ; width:100%" src="~/Models/images/samsung.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:39px">Samsung</div>
                </div>
            </div>


            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Sound </div>
                <img style="height:155px ; width:100%" src="~/Models/images/bose.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:60px">Bose</div>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Headphone </div>
                <img style="height:155px ; width:100%" src="~/Models/images/beats.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:60px">Apple</div>
                </div>
            </div>

            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Mac </div>
                <img style="height:155px ; width:100%" src="~/Models/images/imac.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:60px">Apple</div>
                </div>
            </div>

            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> iPhone </div>
                <img style="height:155px ; width:100%" src="~/Models/images/iPhone11.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:60px">Apple</div>
                </div>
            </div>

            <div style="height:195px ; width:140px ;border : solid 1px gray ; display:block ; margin: 10px ;">
                <div style="height:20px ; width100% ; display:flex ; align-items:center ; justify-content:center; border-bottom: solid 1px gray ; background-color:gray"> Sony </div>
                <img style="height:155px ; width:100%" src="~/Models/images/sony.png" />
                <div style="height:20px ; width100% ; display:flex ; align-items:center ;  border-top : solid 1px gray ; background-color: gray ">
                    <div>1000$ </div>
                    <div style="margin-left:60px">Sony</div>
                </div>
            </div>  
        </div>

        
       
    </div>

